article.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  min-width: 50ch;
  cursor: pointer;

  background-size: cover;
  background-position: center center;

  color: #fff;
  border: 1px solid black;
  border-radius: 1rem;
}

h3.title {
  margin: 0 0;
  width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.header {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
}

div.content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
  border-radius: 0 0 1rem 1rem;

  --lh: 1.2rem;
  --max-lines: 3;

  /**Major Properties**/
  overflow: hidden;
  line-height: var(--lh);
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: var(--max-lines);
}
