.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  padding: 0.5rem;
}
