<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    attr.role="dialog"
    mode="over"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/home"
        routerLinkActive="active"
        (click)="drawer.close()"
      >
        Home
      </a>
      <a
        *ngIf="isLoggedIn"
        mat-list-item
        routerLink="/account"
        routerLinkActive="active"
        (click)="drawer.close()"
      >
        My Account
      </a>
      <a
        *ngIf="isLoggedIn"
        mat-list-item
        routerLink="settings"
        routerLinkActive="active"
        (click)="drawer.close()"
      >
        Settings
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Movie Rental</span>
      <span class="search-box">
        <input
          matInput
          type="text"
          [formControl]="searchInput"
          placeholder="Search..."
        />
        <button>
          <mat-icon aria-label="Search movies.">search</mat-icon>
        </button>
      </span>
      <span class="toolbar-spacer"></span>

      <mat-nav-list fxLayout="row">
        <a
          *ngIf="!isLoggedIn"
          mat-list-item
          routerLink="login"
          routerLinkActive="active"
        >
          Login
        </a>
        <a
          *ngIf="!isLoggedIn"
          mat-list-item
          routerLink="signup"
          routerLinkActive="active"
        >
          Signup
        </a>
        <a
          *ngIf="isLoggedIn"
          (click)="logout()"
          mat-list-item
          routerLink="login"
          routerLinkActive="active"
        >
          Logout
        </a>
      </mat-nav-list>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
